body{
    background-color:#5fabf3;
}

#menubar{
    width:100%;
    margin-left:auto;
    text-align:center;
    margin-right:auto;
    margin-top:130px;
    height:auto;
}

ul {
  	text-transform:uppercase;
  	text-align: left;
  	display: inline;
  	margin: 0;
  	padding: 15px 4px 17px 0;
  	list-style: none;
  	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul li {
  	font: bold 12px/18px sans-serif;
  	display: inline-block;
  	margin-right: -5px;
  	position: relative;
  	padding: 15px 20px;
  	background: #f7f7f7;
  	color:#6aa25d;
  	cursor: pointer;
  	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	-ms-transition: all 0.2s;
  	-o-transition: all 0.2s;
  	transition: all 0.2s;
}

ul li:hover {
  	background: #6aa25d;
  	color: #f7f7f7;
}

/*submenu css starting-------------*/
li ul{
	display: none;
	background-color: #f7f7f7;
	position: absolute;
	margin-top: 15px;
	margin-left: -20px;
	padding:0px 0px 0px 0px;	
}
	
li ul a li{
	width:8em;
	border-bottom: 1px solid #e7e7e7;
}
	
li:hover ul{
	display: block;
}

li ul a li:hover{
	width:8em;
}
	
/*----------------------------------*/
li ul li ul li{
	display:none;
	margin-left: 0px;
	position:relative;
}

li ul li:hover ul li{
	display:block;			
}

ul ul ul {
  	left: 100%;
  	top: 0;
	margin-left: 0px;
}
